<div>
  {{ text }}
</div>

<div>
  <button class="btn btn-primary mx-2 my-2" (click)="onAlertSuccess()">
    alert sucess
  </button>
</div>

<div>
  <button class="btn btn-primary mx-2 my-2" (click)="onAlertError()">
    alert error
  </button>
</div>

<div>
  <button class="btn btn-primary mx-2 my-2" (click)="onAlertWarning()">
    alert warning
  </button>
</div>

<!-- <div>
  <button class="btn btn-primary mx-2 my-2" (click)="onAlert1()">
    alert1
  </button>
</div>
<div>
  <button class="btn btn-primary mx-2 my-2" (click)="onAlert2()">
    alert2
  </button>
</div>
<div>
  <button class="btn btn-primary mx-2 my-2" (click)="onAlert3()">
    alert3
  </button>
</div>
<div>
  <button class="btn btn-primary mx-2 my-2" (click)="onAlert4()">
    alert4
  </button>
</div>
<div>
  <button class="btn btn-primary mx-2 my-2" (click)="onAlert5()">
    alert5
  </button>
</div>
<div>
  <button class="btn btn-primary mx-2 my-2" (click)="onAlert6()">
    alert6
  </button>
</div>
<div>
  <button class="btn btn-primary mx-2 my-2" (click)="onAlert7()">
    alert7
  </button>
</div>
<div>
  <button class="btn btn-primary mx-2 my-2" (click)="onAlert8()">
    alert8
  </button>
</div>
<div>
  <button class="btn btn-primary mx-2 my-2" (click)="onAlert9()">
    alert9
  </button>
</div>
<div>
  <button class="btn btn-primary mx-2 my-2" (click)="onAlert10()">
    alert10
  </button>
</div> -->
